{% load url from future %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie vs Movie | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,
				   initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom base CSS  -->
    <link href="{{STATIC_URL}}css/base.css" rel="stylesheet">

    <!-- Custom sidebar CSS -->
    <link href="{{STATIC_URL}}css/simple-sidebar.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!-- (online:) <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

    <!-- bootstrap JS -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <!-- Custom base JS -->
    <script src="{{STATIC_URL}}js/base.js"></script>

    <!-- Raty (star ratings) -->
    <script src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>
    <script src="{{ STATIC_URL }}js/raty-settings.js"></script>
    <script type="text/javascript">
      $.fn.raty.defaults.path = '{{ STATIC_URL }}img';
    </script>

    <!-- extra head block -->
    {% block extrahead %}
    {% endblock %}

    <!-- extra CSS customization -->
    <style type="text/css">
      {% block css %}
      {% endblock %}
    </style>

    <!-- extra javascript (jquery) -->
    <script type="text/javascript">
    $(function(){
      {% block jquery %}
      {% endblock %}
    });
    </script>

  </head>

  <!-- THE PAGE -->
  <body>

      <!-- NAVBAR -->
      {% block navbar %}
      {% include "base/navbar.html" %}
      {% endblock %}
      <!-- END OF NAVBAR -->

      <!-- SIDEBAR TEMPLATE: -->
      <!-- to have a sidebar, 
	   do nothing -->
      <!-- to turn off sidebar, 
	   kill the sidebar block by
	   overwriting with emptiness -->

      {% block sidebar %}
      <!-- PAGE WRAPPER -->
      <div id="wrapper">

	<!-- SIDEBAR -->
	<div id="sidebar-wrapper">
	  <ul class="sidebar-nav">
	    {% include "base/sidebar.html" %}
	    {% block moresidebarlinks %}
	    {% endblock moresidebarlinks %}
	  </ul>
	  <div class="sidebar-extra">
	    {% block extrasidebar %}
	    {% endblock extrasidebar %}
	  </div>
	</div>
	<!-- END OF SIDEBAR -->

	<!-- make footer fit the main bar -->
	<style type="text/css">
	  #footer-container{ width: 100%;}
	</style>
      {% endblock sidebar %}


        <!-- PAGE HEADER -->
	{% block pageheader %}
	{% endblock %}
	<!-- END OF PAGE HEADER -->
	
	<!-- CONTENT -->
	{% block content %}
	{% endblock %}
	<!-- END OF CONTENT -->

	<!-- FOOTER -->
	{% block footer %}
	{% include "base/footer.html" %}
	{% endblock %}
	<!-- END OF FOOTER -->

      </div>
      <!-- END OF PAGE WRAPPER -->
      <!-- superfluous if sidebar block is killed -->
      <!-- but that's ok :) -->

  </body>
  <!-- END OF PAGE -->
</html>
