{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Movie vs Movie</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Movie VS Movie</h1>
        <p>This is a website for comparing movies against each
        other. Choose which movie you like better, one pair at a time,
        to find out your own taste profile: A complete and continuous
        ranking of all movies you've seen.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rating movies is sensitive to many factors</h2>
          <p>Research has shown that when we rate movies, the rating
          depends a lot on what you've seen (or rated) lately, what
          your mood is, which other film experiences come to mind when
          you try to translate your enjoyment to a grade (out of 4, 5,
          10, 100 or any scale). Our memories cannot evalute the
          entirety of all movies we have seen, so every time we rate a
          movie, even though it feels like an ultimate rating, we are
          really comparing it to a limited set. As an example, if we
          are rating a whole bunch of movies in succession, if they
          are all movies we are fond of, our grading becomes a lot
          more strict, without us noticing it. This is because the
          human brain is great at adaptation, pattern recognition, and
          setting a baseline. This is generally very useful, but in
          this case it becomes harder to find out which movies you
          truly like best, or to have a complete, continuous ranking
          that doesn't depend on different conditions of each rating
          session. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>A star rating as a start</h2>
          <p>A star rating (1-5 stars out of 5) is a good starting
          point to get a general idea of where the movie is: towards
          the top, the middle, or the bottom of your
          rankings. However, it does not have enough resolution for a
          continuous ranking, and it is also sensitive to factors
          like our limited memory, which can only compare it to a few
          other movies we focus on, instead of the entire
          rankings. Trying to use a high resolution grading system (like out
          of a hundred or out of ten with a decimal place) makes these
          ratings very sensitive. If you rate two movies on two
          separate days, you may give a 7.8 to film A and 7.5 to film
          B even if you would have said that you like B better than A
          on either day. For a movie, we start by asking you to give a
          star rating out of five. Then, we get a better idea of how
          much you like it by letting you tell us how it does in one
          to one matches against other movies. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Head to head matches between movies</h2>
          <p> We need to have high resolution, continuous scores for
          all movies to be able ro rank them. Directly rating on a
          high resolution scale is unreliable. Instead, we get to
          higher resolutions through head to head comparisons. When
          you determine the winner (or a draw) of a head to head
          match, the current score of each movie changes according to
          the result. These scores start with the initial star rating
          for each movie. Then, how each score changes depends on the
          previous scores of the competitors. If Casablanca had a
          score of 5.4, and The Matrix had 4, when you say that The
          Matrix beats Casablanca, its score goes up quite a bit,
          whereas Casablanca's score goes down a bit. However, if The
          Godfather has a score of 4.7, and Troll 2 has a score of
          1.4, and The Godfather beats it, the scores don't really
          change much, because that was already an expected
          result. Also, the algorithm learns a lot more from the first
          matches than the hundredth match for a movie, since it
          already has a lot of information about its true score from
          the previous matches. Technically, we use the TrueSkill
          algorithm that we seed by the star ratings as priors. We try
          to bring you matches that will inform the scores and
          converge to the true score as fast as possible. On average,
          the score of a movie converges close to its stable final
          score in about 10 comparisons. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
    </div>

{% endblock %}
