{% load url from future %}

<!DOCTYPE html>
<!-- FOR HELP WITH BOOTSTRAP: --
  -- http://www.sitepoint.com/understanding-twitter-bootstrap-3/ -->
<!-- FOR HELP WITH BOOTSTRAP & DJANGO: --
  --http://www.pythondiary.com/blog/Sep.18,2012/bootstrap-and-django-14-guide.html --
  ---->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie vs Movie | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,
				   initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom sidebar CSS -->
    <link href="{{STATIC_URL}}css/simple-sidebar.css" rel="stylesheet">

    <!-- AwesomeFonts CSS -->
    <!-- <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet"> -->

    <!-- CSS customization -->
    <style type="text/css">
      .top-indent {
        margin-top: 10px;
      }
      .main-bar-container {
        width: 100%;
      }
      body {
        padding-top: 50px;
        padding-bottom: 40px;
      }
      footer {
        margin-top: 60px;
      }
      .stars {
        color: #FFAA00;
      }
      .copyright {
        margin-top: 10px;
      }
      {% block css %}{% endblock %}
    </style>


    <!-- HTML 5 for IE 6-8 -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Jquery -->
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!-- (online:) <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

    <!-- bootstrap JS -->
     <script src=”js/bootstrap.min.js”></script>

    <!-- extra head block -->
    {% block extrahead %}
    {% endblock %}

    <!-- extra javascript (jquery) -->
    <script type="text/javascript">
    $(function(){
    {% block jquery %}
    {% endblock %}
    });
    </script>

  </head>

  <!-- THE PAGE -->
  <body>

      <!-- NAVBAR -->
      {% block navbar %}
      <div class="navbar navbar-default navbar-fixed-top navbar-inverse"
      role="navigation">
        <div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">Movie vs Movie</a>
	  </div>
	  <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
		<!-- Make the right <li> active by making it
		     class="active" -->
		<li id="nav-home"><a href="{% url 'home' %}"><span class="glyphicon
									  glyphicon-home"></span>
		    Home</a></li>
		<li id="nav-fight"><a href="{% url 'comparison' %}"><span class="glyphicon
										 glyphicon-fire"></span>
		    Fight!</a></li>
		<li id="nav-add"><a href="#"><span class="glyphicon
							  glyphicon-plus-sign"></span>
		    Add Movie</a></li>
		<li id="nav-list"><a href="{% url 'movie_list' %}"><span class="glyphicon
										glyphicon-th-list"></span>
		    List Movies</a></li>
		<li id="nav-bubble"><a href="{% url 'bubble_chart' %}"><span class="glyphicon
										    glyphicon-certificate"></span>
		    Bubble Chart</a></li>
		<li class="dropdown">
		  <a class="dropdown-toggle"
		     data-toggle="dropdown" href="#"><span class="glyphicon
								  glyphicon-question-sign"></span>
		    What's Going On?<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Dropdown Test 1</a></li>
		    <li><a href="#">Dropdown Test 2</a></li>
		  </ul>
		</li><!-- li class "dropdown" -->
	      </ul>
	      <form class="navbar-form navbar-right" role="search">
		<div class="form-group">
		  <input type="text" class="form-control"
			 placeholder="Search">
		</div>
	      </form>
	  </div>
	</div>
      </div>
      {% endblock %}
      <!-- END OF NAVBAR -->

      <!-- PAGE WRAPPER -->
      <div id="wrapper">

	<!-- SIDEBAR -->
	<div id="sidebar-wrapper">
	  <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Filter Movies</a></li>
            <li><a href="#">5-star</a></li>
            <li><a href="#">4-star</a></li>
            <li><a href="#">3-star</a></li>
            <li><a href="#">2-star</a></li>
            <li><a href="#">1-star</a></li>
	  </ul>
	  <div class="sidebar-extra">
	    {% block extrasidebar %}
	    {% endblock %}
	  </div>
	</div>
	<!-- END OF SIDEBAR -->

	<!-- PAGE HEADER -->
	{% block pageheader %}
	{% endblock %}
	<!-- END OF PAGE HEADER -->

	<!-- CONTENT -->
	{% block content %}
	{% endblock %}
	<!-- END OF CONTENT -->

	<!-- FOOTER -->
	<footer>
	  <div class="footer">
            <div class="container main-bar-container">
	      <hr>
	      {% block footer %}
              <div class="row">
		<div class="col-md-4">
		  <div class="copyright"> 
		    &copy; 2014
		  </div>
		</div>
		<div class="col-md-4">
		  <ul class="nav nav-pills">
		    <li><a href="{% url 'home' %}">About Us</a></li>
		    <li><a href="http://www.imdb.com">Imdb</a></li>
		    <li><a href="#">Terms of Use</a></li>
		  </ul>
		</div>
		<div class="col-md-4">
		  <div class="copyright text-right"> 
		    Movie vs Movie
		  </div>
		</div>
	      </div>
	      {% endblock %}
            </div>
          </div>
	</footer>
	<!-- END OF FOOTER -->

      </div>
      <!-- END OF PAGE WRAPPER -->
  </body>
  <!-- END OF PAGE -->
</html>
