{% extends "base/base_with_sidebar.html" %}

    <!-- title -->
    {% block title %}
    Fight!
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    .dl-horizontal dt {
       width: 75px;
       white-space: normal;
    } 
    .dl-horizontal dd {
       margin-left: 110px;
    }
    .key {
       color: #731;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}

    <!-- nav button-->
    $('#nav-fight').addClass('active');

    <!-- Key Presses for Choosing Match Outcome -->
    <!-- 1: Left wins  2: Right wins  0: Draw  -->
    <!-- Space: Skip   Backspace: Revote the last one-->
    $(document).keydown(function(event) {
      if ( event.which == 49 ) {            //1
        $("#left_wins_button").click();
      } else if ( event.which == 50) {      //2
        $("#right_wins_button").click();
      } else if ( event.which == 48) {      //0
        $("#draw_button").click();
      } else if ( event.which == 32) {      //space
        $("#skip_button").click();      
      } else if ( event.which == 8) {       //backspace
        history.go(-1);
      }
    });

    {% endblock %}
    <!-- end of jquery -->


    <!-- extrasidebar -->
    {% block extrasidebar %}
    Hint: Use shortcuts<br>
    <span class="key">[1]</span>:      Left wins<br>
    <span class="key">[2]</span>:      Right wins<br>
    <span class="key">[0]</span>:      Draw<br>
    <span class="key">[Space]</span>:  Skip<br>
    <span class="key">[Backsp]</span>: Revote<br>
    {% endblock %}
    <!-- end of extrasidebar -->


    <!-- pageheader -->
    <!-- use div class="content-header"-->
    {% block pageheader %}
    <div class="container main-bar-container">
      <div class="content-header">
      </div>
    </div>
    {% endblock %}
    <!-- end of pageheader -->

    <!-- content -->
    <!-- use class="page-content inset"
	 if you have a header above -->
    <!-- use class="main-bar-container"
	 for your containers -->
    {% block content %}
    <div class="container main-bar-container inset">

      <form action="{% url 'versus_result' movie1.id movie2.id %}"
	    method="post">
	{% csrf_token %}

	<div class="row">

	  <div id="left-empty" class="col-md-1"></div>

	  <div id="left-movie" class="col-md-3">
	    <!-- image row -->
	    <div class="row top-indent">
	      <a href="{% url 'movie_detail' movie1.id %}">
		<img id="poster_1" src="{{STATIC_URL}}posters/_poster_template.jpg"
		     class="center-block img-rounded">
	      </a>
	    </div>
	    <!-- button row -->
	    <div class="row inset">
	      <button id="left_wins_button"
	              name="result"
		      value="1"
		      class="btn btn-primary btn-lg btn-block">
		{{ movie1.readable_name }}
	      </button>
	    </div>
	  </div>

	  <div id="vs" class="col-md-4">
	    <!-- image row -->
	    <div class="row top-indent">
	      <img src="{{ STATIC_URL }}images/versus.png"
		   class="img-circle center-block">
	    </div>
	    <!-- draw button row -->
	    <div class="row inset">
	      <button id="draw_button" 
		      name="result" 
		      value="0" 
		      class="btn btn-default center-block"> 
		<img src="{{ STATIC_URL }}images/draw_logo.png" class="center-block"> 
	      </button> 
	    </div>
	    <!-- skip button row -->
	    <div class="row">
	      <button id="skip_button" 
		      name="result"
		      value="-1"
		      class="btn btn-default center-block"> 
		Skip this fight
	      </button> 
	    </div>
	  </div>

	  <div id="right-movie" class="col-md-3">
	    <!-- image row -->
	    <div class="row top-indent">
	      <a href="{% url 'movie_detail' movie2.id %}">
		<img id="poster_1" src="{{ STATIC_URL}}posters/_poster_template.jpg"
			class="center-block img-rounded">
	      </a>
	    </div>
	    <!-- button row -->
	    <div class="row inset">
	      <button id="right_wins_button"
	              name="result"
		      value="2"
		      class="btn btn-primary btn-lg btn-block">
		{{ movie2.readable_name }}
	      </button>
	    </div>
	  </div>

	  <div id="right-empty" class="col-md-1"></div>

	</div>
        <!-- end of fight row -->
      </form>

    </div>
    <!-- end of container -->

    {% endblock %}
    <!-- end of content -->




