{% extends "base/base.html" %}

    <!-- title -->
    {% block title %}
    Fight!
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    .dl-horizontal dt {
       width: 75px;
       white-space: normal;
    } 
    .dl-horizontal dd {
       margin-left: 110px;
    }
    .key {
       color: #731;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    {% block extrahead %}
    <!-- Custom JS for this view-->
    <script src="{{STATIC_URL}}js/fight.js"></script>
    {% endblock %}
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}

    <!-- nav button -->
    $('#nav-fight').addClass('active');

    <!-- Fight result url variables for the lock buttons -->
    window.result_url_lock_left  = "{% url 'fight_result' movie1.imdb_id  movie2.imdb_id 1 %}";
    window.result_url_lock_right = "{% url 'fight_result' movie1.imdb_id  movie2.imdb_id 2 %}";
    window.result_url_no_lock    = "{% url 'fight_result' movie1.imdb_id  movie2.imdb_id 0 %}";

    <!-- Press the correct button according to the current  -->
    <!-- lock at initial loading -->
    {% if lock == '1' %}
      $('#sidebar-lock-left').click();
    {% elif lock == '2' %}
      $('#sidebar-lock-right').click();
    {% endif %}

    {% endblock %}

    <!-- end of jquery -->


    <!-- moresidebarlinks -->
    {% block moresidebarlinks %}
    <li><a id="sidebar-lock-left" href="javascript:;"><span class="glyphicon"></span>Lock Left</a></li>
    <li><a id="sidebar-lock-right" href="javascript:;"><span class="glyphicon"></span>Lock Right</a></li>
    {% endblock %}
    <!-- end of moresidebarlinks -->

    <!-- extrasidebar -->
    {% block extrasidebar %}
    &nbsp;Hint: Use shortcuts<br>
    &nbsp;&nbsp;<span class="key">[</span>:      Left wins<br>
    &nbsp;&nbsp;<span class="key">]</span>:      Right wins<br>
    &nbsp;&nbsp;<span class="key">/</span>:      Draw<br>
    &nbsp;&nbsp;<span class="key">Esc</span>:    Skip<br>
    &nbsp;&nbsp;<span class="key">Backsp</span>: Revote<br>
    <br>
    {% endblock %}
    <!-- end of extrasidebar -->


    <!-- pageheader -->
    <!-- use div class="content-header"-->
    {% block pageheader %}
    {% endblock %}
    <!-- end of pageheader -->

    <!-- content -->
    <!-- use class="page-content inset"
	 if you have a header above -->
    <!-- use class="main-bar-container"
	 for your containers -->
    {% block content %}
    <div class="container main-bar-container inset-lg">

      <form id="fight-result-form"
	    action="{% url 'fight_result' movie1.imdb_id  movie2.imdb_id lock %}"
	    method="post">
	{% csrf_token %}

	<div class="row top-indent-lg">

	  <div id="left-empty" class="col-md-1"></div>

	  <div id="left-movie" class="col-md-3">
	    <!-- image row -->
	    <div class="row top-indent-md">
	      <a href="{% url 'movie_detail' movie1.imdb_id %}">
		<img id="poster_1" src="{{STATIC_URL}}posters/{{movie1.poster_name}}"
		     height="317" width="214"
		     class="center-block img-rounded">
	      </a>
	    </div>
	    <!-- button row -->
	    <div class="row inset">
	      <button id="left_wins_button"
	              name="result"
		      value="1"
		      class="btn btn-primary btn-lg btn-block">
		{{ movie1.readable_name }}
	      </button>
	    </div>
	  </div>

	  <div id="vs" class="col-md-4">
	    <!-- image row -->
	    <div class="row top-indent-md">
	      <img src="{{ STATIC_URL }}img/vs_alpha_lg.png"
		   height="300" width="300"
		   class="img-circle center-block">
	    </div>
	    <!-- draw button row -->
	    <div class="row inset top-indent-draw-btn">
	      <button id="draw_button" 
		      name="result" 
		      value="0" 
		      class="btn btn-default center-block"> 
		<img src="{{ STATIC_URL }}img/net_draw_logo_2_alpha.png" 
		     height="34" width="78"
		     class="center-block"> 
	      </button> 
	    </div>
	    <!-- skip button row -->
	    <div class="row">
	      <button id="skip_button" 
		      name="result"
		      value="-1"
		      class="btn btn-default center-block"> 
		Skip this fight
	      </button> 
	    </div>
	  </div>

	  <div id="right-movie" class="col-md-3">
	    <!-- image row -->
	    <div class="row top-indent-md">
	      <a href="{% url 'movie_detail' movie2.imdb_id %}">
		<img id="poster_2" src="{{ STATIC_URL}}posters/{{movie2.poster_name}}"
		     height="317" width="214"
		     class="center-block img-rounded">
	      </a>
	    </div>
	    <!-- button row -->
	    <div class="row inset">
	      <button id="right_wins_button"
	              name="result"
		      value="2"
		      class="btn btn-primary btn-lg btn-block">
		{{ movie2.readable_name }}
	      </button>
	    </div>
	  </div>

	  <div id="right-empty" class="col-md-1"></div>

	</div>
        <!-- end of fight row -->
      </form>

    </div>
    <!-- end of container -->

    {% endblock %}
    <!-- end of content -->




