{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    Home
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
      .jumbotron {
        background-image: url({{ STATIC_URL }}img/green_bg.jpg);
      }
      .white {
        color: #fff;
      }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}
    <!-- set the active nav button here -->
    $('#nav-home').addClass('active');
    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    {% block pageheader %}
    <div class="container-fluid">
      <div class="jumbotron">
	<h1>Movie vs Movie</h1>
	<p class="white">This is a website for comparing movies against each
	  other. Choose which movie you like better, one pair at a time,
	  to find out your own taste profile: A complete and continuous
	  ranking of all movies you've seen.</p>
	<a class="btn btn-primary btn-lg">Start Now!</a>
      </div>
    </div>
    {% endblock %}
    <!-- end of pageheader -->

    <!-- content -->
    {% block content %}
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat1.jpg"></a>
	      -->
          <h3 class="text-center">Rating movies is hard</h3>
          <p>Research has shown that when we rate movies, the rating
            depends a lot on what you've seen (or rated) lately, what
            your mood is, which other film experiences come to mind when
            you try to translate your enjoyment to a grade (out of 4, 5,
            10, 100 or any scale). Our memories cannot evalute the
            entirety of all movies we have seen, so every time we rate a
            movie, even though it feels like an ultimate rating, we are
            really comparing it to a limited set. As an example, if we
            are rating a whole bunch of movies in succession, if they
            are all movies we are fond of, our grading becomes a lot
            more strict, without us noticing it. This is because the
            human brain is great at adaptation, pattern recognition, and
            setting a baseline. This is generally very useful, but in
            this case it becomes harder to find out which movies you
            truly like best, or to have a complete, continuous ranking
            that doesn't depend on different conditions of each rating
            session. </p>
          <a href="#" class="btn btn-success">Start the Fights</a>
	</div>
	
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat2.jpg"></a>
	      -->
          <h3 class="text-center">Star rating as a start</h3>
          <p>A star rating (1-5 stars out of 5) is a good starting
            point to get a general idea of where the movie is: towards
            the top, the middle, or the bottom of your
            rankings. However, it does not have enough resolution for a
            continuous ranking, and it is also sensitive to factors
            like our limited memory, which can only compare it to a few
            other movies we focus on, instead of the entire
            rankings. Trying to use a high resolution grading system (like out
            of a hundred or out of ten with a decimal place) makes these
            ratings very sensitive. If you rate two movies on two
            separate days, you may give a 7.8 to film A and 7.5 to film
            B even if you would have said that you like B better than A
            on either day. For a movie, we start by asking you to give a
            star rating out of five. Then, we get a better idea of how
            much you like it by letting you tell us how it does in one
            to one matches against other movies. </p>
          <a href="#" class="btn btn-danger">Enter the Thunderdome</a>
	</div>
	
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat3.jpg"></a>
	      -->
          <h3 class="text-center">Head to head fights</h3>
          <p> We need to have high resolution, continuous scores for
            all movies to be able ro rank them. Directly rating on a
            high resolution scale is unreliable. Instead, we get to
            higher resolutions through head to head comparisons. When
            you determine the winner (or a draw) of a head to head
            match, the current score of each movie changes according to
            the result. These scores start with the initial star rating
            for each movie. Then, how each score changes depends on the
            previous scores of the competitors. If Casablanca had a
            score of 5.4, and The Matrix had 4, when you say that The
            Matrix beats Casablanca, its score goes up quite a bit,
            whereas Casablanca's score goes down a bit. However, if The
            Godfather has a score of 4.7, and Troll 2 has a score of
            1.4, and The Godfather beats it, the scores don't really
            change much, because that was already an expected
            result. Also, the algorithm learns a lot more from the first
            matches than the hundredth match for a movie, since it
            already has a lot of information about its true score from
            the previous matches. Technically, we use the TrueSkill
            algorithm that we seed by the star ratings as priors. We try
            to bring you matches that will inform the scores and
            converge to the true score as fast as possible. On average,
            the score of a movie converges close to its stable final
            score in about 10 comparisons. </p>
          <a href="#" class="btn btn-info">Let the Movies Free</a>
	</div>
      </div>

      <div class="row inset">
	<div class="col-md-12 inset">
	  <img src="{{ STATIC_URL }}img/movievsmovielogo_alpha_lg.png"
	       class="img-rounded center-block">
	</div>
      </div>

    </div>
    {% endblock %}
    <!-- end of content -->

    <!-- footer -->
    <!-- end of footer -->

