{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    Home
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
      .jumbotron {
        background-image: url({{ STATIC_URL }}img/green_bg.jpg);
      }
      .white {
        color: #fff;
      }
    {% endblock %}
    <!-- end of css -->

    <!-- set the active nav button -->
    {% block navid %}nav-home{% endblock %}
    <!-- end of navid -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    <!-- end of jquery -->

    <!-- pageheader -->
    {% block pageheader %}
    <div class="container-fluid">
      <div class="jumbotron">
	<h1>Movie vs Movie</h1>
	<p class="white">A website for rating and comparing
	  movies.<br>  Let head to head fights define your taste: An
	  accurate ranking of all movies you've seen.</p>
	<a class="btn btn-primary btn-lg" href="{% url 'rate_movies' %}">Start Now!</a>
      </div>
    </div>
    {% endblock %}
    <!-- end of pageheader -->

    <!-- content -->
    {% block content %}
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat1.jpg"></a>
	      -->
          <h3 class="text-center">What's your top ten?</h3>
          <p> <img height="80"
               class="inline-img"
		   style="float: left; padding:5px;"
	       src="{{STATIC_URL}}img/favicon1.png"> 
            This is a very hard question to answer. Research has
            shown that when we rate movies, the rating depends a lot
            on our mood, what we've seen/rated lately, etc.</p>

          <div class="pull-right"><a id="show_more_1" 
	     class="btn btn-link"><span class="caret"></span>More on ranking...</a></div>
	  <div id="more1" hidden>
	    <p>Rating movies is sensitive to environmental factors.
	    Our memories cannot evalute the entirety of all
            movies we have seen, so every time we rate a movie, even
            though it feels like an ultimate rating, we are really
            comparing it to a limited set. </p><p>As an example, if we rate a
            lot of movies in succession and they are all movies we are
            fond of, our grading becomes a lot more strict, without us
            noticing it. This is because the human brain is great at
            adaptation, pattern recognition, and setting a
            baseline. </p><p>This is generally very useful, but in this case
            it becomes harder to find out which movies you truly like
            best, or to have a complete, continuous ranking that
            doesn't depend on different conditions of each rating
            session. </p>
            <div class="pull-right"><a id="show_less_1" 
		class="btn btn-link"><span class="caret caret-reversed"></span>Show less...</span></a></div>
	  </div>
            <a href="{% url 'movie_list' %}" 
	       class="btn btn-success">See your rankings</a>
	</div>
	
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat2.jpg"></a>
	      -->
          <h3 class="text-center">Star ratings</h3>
          <p> <img height="80"
               class="inline-img"
		   style="float: left; padding:5px;"
	       src="{{STATIC_URL}}img/favicon2.png"> 
            A star rating (1-5 stars out of 5) is a good starting
            point to get a general idea of where the movie is: towards
            the top, the middle, or the bottom of your
            rankings. </p>

          <div class="pull-right"><a id="show_more_2" 
	     class="btn btn-link"><span class="caret"></span>More on ratings...</a></div>
	  <div id="more2" hidden>
	    <p>However, it does not have enough resolution for
            a continuous ranking, and it is sensitive to factors
            like our limited memory. In a moment of rating, we
            cannot analyze a movie in the context of our entire
            library of movies. Instead we think of a much
            smaller subset. </p><p>Trying to use a high resolution grading
            system (like out of 1-100 or 1-10 with a decimal place)
            makes ratings even more sensitive to such problems. Let's
            say you rate two movies. You may give a 7.8 to film A
            today, and 7.6 to film B a few weeks later, even if you would
            have said that you like B better than A on either day. </p><p>For
            a movie, we start by asking you to give a star rating out
            of five. Then, we get a better idea of how much you really
            like it from one on one fights against other movies. </p>
            <div class="pull-right"><a id="show_less_2" 
		class="btn btn-link"><span class="caret caret-reversed"></span>Show less...</a></div>
	  </div>
          <a href="{% url 'rate_movies' %}" 
	     class="btn btn-danger">Rate some movies</a>
	</div>
	
	<div class="col-md-4">
	  <!--
              <a href="#"><img class="img-responsive img-circle"
			       src="{{STATIC_URL}}img/feat3.jpg"></a>
	      -->
          <h3 class="text-center"> Head to head fights</h3>
          <p> <img height="80"
               class="inline-img"
		   style="float: left; padding:5px;"
	       src="{{STATIC_URL}}img/favicon3.png"> 
	    To rank movies, we need high resolution scores. Directly
            rating on such a scale is unreliable. Instead, we get there
            through one to one
            comparisons. </p>

          <div class="pull-right"><a id="show_more_3" 
	     class="btn btn-link"><span class="caret"></span>More on fights...</a></div>
	  <div id="more3" hidden>
	    <p>When you determine the winner (or
            draw) of a fight, scores change according to the
            result. The score for each movie starts as your star
            rating.  Changes after a fight depend on the previous
            scores. </p><p>Let's say Casablanca had a score of 5.4,
            and The Matrix had 4. If The Matrix beats Casablanca, its
            score goes up quite a bit and Casablanca's score drops
            significantly. However, if The Godfather has a score of
            4.7, and Troll 2 has a score of 1.4, and The Godfather
            wins, the scores don't really change much, because that
            was already expected. </p><p>Also, Movie vs Movie learns
            much more from the first fights of a movie than its
            hundredth, since we do not have much uncertainty left by then.
            </p>
            <div class="pull-right"><a id="show_less_3" 
		class="btn btn-link"><span class="caret caret-reversed"></span>Show less...</a></div>
	  </div>
          <a href="{% url 'fight' %}" 
	     class="btn btn-info">Enter Thunderdome</a>
	</div>
      </div>

    </div>
    {% endblock %}
    <!-- end of content -->

    <!-- footer -->
    <!-- end of footer -->

    <!-- footjs -->
    {% block footjs %}

    $("#show_more_1").click( function() {
      $("#more1").toggle()
      $("#show_more_1").toggle()
    });
    $("#show_less_1").click( function() {
      $("#more1").toggle()
      $("#show_more_1").toggle()
    });
    $("#show_more_2").click( function() {
      $("#more2").toggle()
      $("#show_more_2").toggle()
    });
    $("#show_less_2").click( function() {
      $("#more2").toggle()
      $("#show_more_2").toggle()
    });
    $("#show_more_3").click( function() {
      $("#more3").toggle()
      $("#show_more_3").toggle()
    });
    $("#show_less_3").click( function() {
      $("#more3").toggle()
      $("#show_more_3").toggle()
    });

    {% endblock %}
    <!-- end of footjs -->
