{% extends "base/base.html" %}

    <!-- title -->
    {% block title %}
    List of all movies
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    th.title {
      color: olive;
    }
    th.rating {
      color: olive;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}
    <!-- set the active nav button here -->
    $('#nav-list').addClass('active');
    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    <!-- use div class="content-header"-->
    <!-- end of pageheader -->

    <!-- content -->
    <!-- use class="page-content inset"
	 if you have a header -->
    <!-- use class="main-bar-container"
	 for your containers -->
    {% block content %}
    <div class="container main-bar-container">

      <div id="movie_list"> 
	<table class="table table-striped">
	  <th class="title">Title</th>
	  <th class="rating">Rating</th>
	  <th class="rating">TrueSkill</th>
	  {% for movie in movie_list %}
	  <tr>
	    <td>
	      <a href="{% url 'movie_detail' movie.id  %}">{{ movie.name }}</a>
	    </td>
	    <td class="stars">
		<b>{{ movie.unicode_star_rating }}</b>
	    </td>
	    <td>
	      {{ movie.seeded_true_skill }}
	    </td>
	  </tr>
	  {% endfor %}
	</table>
      </div>

    </div>
    {% endblock %}
    <!-- end of content -->

