{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    {{ movie.name }}
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    .dl-horizontal dt {
       width: 75px;
       white-space: normal;
    } 
    .dl-horizontal dd {
       margin-left: 110px;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}
 
      <!-- at first show the stars in the db -->
      <!-- save the new rating if user changes it -->
      $('#star').raty({
	size      : 24,
        cancel: true,
        cancelPlace: 'right',
        score: {{ movie.starRating }},
        click: function(score, evt) {      
          if (score == null) {
            var score = 0;
          }
          $.ajax({
            type: "POST",
            url: "{% url 'save_rating' movie.imdb_id %}",
            data: {"rating": score,
                   "imdb_id": "{{movie.imdb_id}}",
                   "name": "{{movie.name | safe }}",
                   "year": "{{movie.year | safe}}",
                   "director":"{{movie.director | safe}}",
                   "description":"{{movie.description | safe}}",
                   "poster_name" : "{{movie.poster_name | safe}}"
                  },
            dataType: "json",
            success: function(data){
              $('#save-notice').modal('show')
              window.setTimeout(function(){
                                    $('#save-notice').modal('hide');
                                }, 800);
              console.log( "Succesfully saved rating as " + data.rating );
            },
            error: function(msg){
              $('#save-notice').modal('show')
              window.setTimeout(function(){
                                    $('#error-notice').modal('hide');
                                }, 800);
              console.log( "Error from server during AJAX POST." );
              console.log( msg.responseText );
            }              
          });
        }
      });

    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    {% block pageheader %}
    {% endblock %}
    <!-- end of pageheader -->


    <!-- content -->
    {% block content %}
    <div class="container">
      <div class="col-md-7 text-left">


	<div class="container">
	  <div class="page-header">
	    <h1>{{ movie.name }}</h1>
	    <a class="btn btn-primary btn-lg"
	       href="http://www.imdb.com/title/{{movie.imdb_id}}/">Details on imdb</a>
	  </div>
	</div>

	<dl class="dl-horizontal">

	  <dt>Title</dt>
	  <dd>{{ movie.name }}</dd>

	  <dt>Year</dt>
	  <dd>{{ movie.year }}</dd>

	  <dt>Summary</dt>
	  <dd>{{ movie.description | safe }}</dd>

	  <dt>Director</dt>
	  <dd>{{ movie.director }}</dd>

	  <br>
	
	  <dt>Star Rating</dt>
	  <dd> 
	    <div id="star"></div>
	  </dd>
	
	  <dt>TrueSkill</dt>
	  <dd>{{ movie.seeded_true_skill}}</dd>
	  
	  <dt></dt>
	  <dd class="top-indent-sm">
	    <a class="btn btn-default"
	       href="{% url 'fight_a' movie.imdb_id %}">
	      <span class="glyphicon glyphicon-fire"></span> Fight!
	    </a>
	  </dd>

	</dl>


      </div>
      <div class="col-md-5 inset-md">
	<img id="poster" src="{{ poster_url }}"
	     class="center-block img-rounded">
      </div>
    </div>


    
<!-- Modal: Save notice -->
<div class="modal fade" id="save-notice" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-notice">
    <div class="modal-content">
      <div class="modal-body text-center">
        Saved...
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal: Error notice -->
<div class="modal fade" id="save-notice" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog--notice">
    <div class="modal-content">
      <div class="modal-body text-center text-danger">
        Error: Could not save rating
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    {% endblock %}
    <!-- end of content -->


