{% extends "base/base.html" %}

    <!-- title -->
    {% block title %}
    List of all movies
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    th.title {
      color: olive;
    }
    th.rating {
      color: olive;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    <!-- end of jquery -->

    <!-- pageheader -->
    <!-- end of pageheader -->

    <!-- content -->
    {% block content %}

      {% if movie_list %}

      <div id="movie_list"> 
	<table class="table table-striped">
	  <th class="title">Title</th>
	  <th class="rating">Rating</th>
	  <th class="rating">Raw True Skill</th>
	  <th class="rating">Seeded True Skill</th>
	  {% for movie in movie_list %}
	  <tr>
	    <td>
	      <a href="{% url 'movie_detail' movie.id  %}">{{ movie.name }}</a>
	    </td>
	    <td class="stars">
		<b>{{ movie.unicode_star_rating }}</b>
	    </td>
	    <td>
	      <b>{{ movie.raw_true_skill }}</b>
	    </td>
	    <td>
	      <b>{{ movie.seeded_true_skill }}</b>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
      </div>

      {% else %}

      <div class="panel panel-danger">
	<div class="panel-heading">
	  <h3 class="panel-title">Error</h3>
	</div>
	<div class="panel-body">
	  No movies in the database
	</div>
      </div>      

      {% endif %}

    {% endblock %}
    <!-- end of content -->

    <!-- footer -->
    <!-- end of footer -->
