{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    {{ movie.name }}
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    .dl-horizontal dt {
       width: 75px;
       white-space: normal;
    } 
    .dl-horizontal dd {
       margin-left: 110px;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}
 
      <!-- at first show the stars in the db -->
      <!-- save the new rating if user changes it -->
      $('#star').raty({
        score: {{ movie.starRating }},
        click: function(score, evt) {
          $.ajax({
            type: "POST",
            url: "{% url 'save_rating' movie.year %}",
            data: {"rating": score},
            dataType: "json",
            success: function(data){
              console.log( "Succesfully saved with rating " + data.rating );
            },
            error: function(msg){
              console.log( "Error from server during AJAX POST." );
              console.log( msg.responseText );
            }              
          });
        }
      });

    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    {% block pageheader %}
    {% endblock %}
    <!-- end of pageheader -->


    <!-- content -->
    {% block content %}
    <div class="container">
      <div class="col-md-7 text-left">


	<div class="container">
	  <div class="page-header">
	    <h1>{{ movie.name }}</h1>
	    <a class="btn btn-primary btn-lg"
	       href="http://www.imdb.com/title/{{movie.imdb_id}}/">Details on imdb</a>
	  </div>
	</div>

	<dl class="dl-horizontal">

	  <dt>Title</dt>
	  <dd>{{ movie.name }}</dd>

	  <dt>Summary</dt>
	  <dd>{{ movie.description | safe }}</dd>

	  <dt>Year</dt>
	  <dd>{{ movie.year }}</dd>

	  <dt>Director</dt>
	  <dd>{{ movie.director }}</dd>

	  <dt></dt><dd></dd>
	
	  <dt>Star Rating</dt>
	  <dd> 
	    <div id="star"></div>
	  </dd>
	
	  <dt>TrueSkill</dt>
	  <dd>{{ movie.seeded_true_skill}}</dd>
	  
	</dl>
      </div>
      <div class="col-md-5 inset-md">
	<img id="poster" src="{{ poster_url }}"
	     class="center-block img-rounded">
      </div>
    </div>
    {% endblock %}
    <!-- end of content -->


