{% extends "base/base.html" %}

    <!-- title -->
    {% block title %}
    {{ movie.name }}
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    {% block css %}
    .dl-horizontal dt {
       width: 75px;
       white-space: normal;
    } 
    .dl-horizontal dd {
       margin-left: 110px;
    }
    {% endblock %}
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    <!-- set the active nav button here -->
    <!-- end of jquery -->

    <!-- pageheader -->
    {% block pageheader %}
    <div class="container">
      <div class="page-header">
	<h1>{{ movie.name }}</h1>
	<a class="btn btn-primary btn-lg" href="#">Details on imdb</a>
      </div>
    </div>
    {% endblock %}
    <!-- end of pageheader -->


    <!-- content -->
    {% block content %}
    <div class="container">
      <div class="col-md-6 text-left">
	<dl class="dl-horizontal">

	  <dt>Title</dt>
	  <dd>{{ movie.name }}</dd>
	
	  <dt>Star Rating</dt>
	  <dd> 
	    <span class="stars">
	      {{ movie.unicode_star_rating}} 
	    </span>
	  </dd>
	
	  <dt>TrueSkill</dt>
	  <dd>{{ movie.seeded_true_skill}}</dd>
	  
	</dl>
      </div>
    </div>
    {% endblock %}
    <!-- end of content -->

    <!-- footer -->
    <!-- end of footer -->


