{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    Rate Movies
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    <!-- end of css -->

    <!-- extrahead -->
    <!-- end of extrahead -->

    <!-- jquery -->
    {% block jquery %}
    <!-- set the active nav button here -->
    $('#nav-rate').addClass('active');
    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    <!-- use div class="content-header"-->
    <!-- end of pageheader -->

    <!-- content -->
    <!-- use class="page-content inset"
	 if you have a header -->
    <!-- use class="main-bar-container"
	 for your containers -->
    {% block content %}
    <div class="container main-bar-container">

      {% for movie in movies_to_rate %}

      {% cycle '<div class="row inset">' '' '' '' '' ''%}

	
	<div class="col-md-2">

	  <a href="{% url 'movie_detail' movie.imdb_id %}">
	    <!-- original: height="317" width="214" -->
	    <img id="poster_1" src="{{STATIC_URL}}posters/{{movie.poster_name}}"
		 height="243" width="164"
		 class="center-block img-rounded">
	  </a>


	</div>

      {% cycle '' '' '' '' '' '</div>' %}

      {% endfor %}

    </div>

    {% endblock %}
    <!-- end of content -->

