{% extends "base/base.html" %}

    <!-- turn off sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- title -->
    {% block title %}
    Rate Movies
    {% endblock %}
    <!-- end of title -->

    <!-- css -->
    <!-- end of css -->

    <!-- set the active nav button -->
    {% block navid %}nav-rate{% endblock %}
    <!-- end of navid -->

    <!-- extrahead -->
    {% block extrahead %}
    <script src="{{STATIC_URL}}js/spinner.js"></script>
    {% endblock %}
    <!-- end of extrahead -->

    <!-- javascript: put this after the DOM for quicker loading -->
    {% block footjs %}

    {% for movie in movies_to_rate %}
    $('#rate-{{movie.imdb_id}}').raty({
	size      : 18,
        cancel: true,
        cancelPlace: 'right',
        score: 0,
        click: function(score, evt) {      
          if (score == null) {
            var score = 0;
          }
          $.ajax({
            type: "POST",
            url: "{% url 'save_rating' movie.imdb_id %}",
            data: {"rating": score,
                   "imdb_id": "{{movie.imdb_id}}",
                   "name": "{{movie.name | safe }}",
                   "year": "{{movie.year | safe}}",
                   "director":"{{movie.director | safe}}",
                   "description":"{{movie.description}}",
                   "poster_name" : "{{movie.poster_name | safe}}"
                  },
            dataType: "json",
            success: function(data){
              console.log( "Rated {{movie.name|safe}} as " + data.rating );
            },
            error: function(msg){
              console.log( "Error from server during AJAX POST." );
              console.log( msg.responseText );
            }              
          });
        }
      });
    {% endfor %}


    {% endblock %}
    <!-- end of jquery -->

    <!-- pageheader -->
    <!-- use div class="content-header"-->
    <!-- end of pageheader -->

    <!-- content -->
    <!-- use class="page-content inset"
	 if you have a header -->
    <!-- use class="main-bar-container"
	 for your containers -->
    {% block content %}

    <div class="container main-bar-container">

      <div id="spinner"> </div>

      {% for movie in movies_to_rate %}
      {% cycle '<div class="row inset-sm">' '' '' '' '' ''%}
	<div class="col-md-2 col-sm-2">
	  <!-- poster -->
	  <a href="{% url 'movie_detail' movie.imdb_id %}">
	    <!-- generically ideal: height="317" width="214" -->
	    <!-- a good size here:  height="243" width="164" -->
	    <img src="{{STATIC_URL}}posters/{{movie.poster_name}}"
		 alt="{{movie.name}}"
		 class="center-block img-rounded img-responsive">
	  </a>
	  <!-- rating  -->
	  <div class="rating-wrapper">
	    <div id="rate-{{movie.imdb_id}}" class="rating-pane"></div>
	  </div>
	</div>
      {% cycle '' '' '' '' '' '</div>' %}
      {% endfor %}

      <div class="row inset-sm">
	<div class="col-md-4">
	  <a href="{% url 'rate_movies' %}" 
	     class="btn btn-default center-block">Get more movies to rate</a>
	</div>
	<div class="col-md-4">
	  <a href="{% url 'fight' %}" 
	     class="btn btn-primary center-block">Time to fight!</a>
	</div>
	<div class="col-md-4">
	  <a href="{% url 'movie_list' %}" 
	     class="btn btn-default center-block">See your rankings</a>
	</div>
      </div>
      <div class="row top-indent-sm">
	<div class="col-md-3"></div>
	<div class="col-md-6 text-center lightgray">
	  Hint: You can also find & rate movies through the search bar.<br>
	  <br>
	  Hint: For a movie you did not see yet, you can click on "cancel rating" (next to the stars)<br>
	  and it won't show up on this page for a
	  while.<br>
	</div>
	<div class="col-md-3"></div>
      </div>
    </div>

    {% endblock %}
    <!-- end of content -->

