<li class="sidebar-brand"><span class="sidebar-label">Filter Movies</span></li>
<!-- <li class="sidebar-brand"></li> -->
<li><a id="5-filter" data-toggle="modal" data-target="#filter-notice"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></a></li>
<li><a id="4-filter" data-toggle="modal" data-target="#filter-notice"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></a></li>
<li><a id="3-filter" data-toggle="modal" data-target="#filter-notice"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></a></li>
<li><a id="2-filter" data-toggle="modal" data-target="#filter-notice"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></a></li>
<li><a id="1-filter" data-toggle="modal" data-target="#filter-notice"><span class="glyphicon glyphicon-star"></span></a></li>
